<div class="header">
    <button type="button" class="d-inline float-right btn btn-primary close" aria-label="Close" (click)="closeButton()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>Edit product</h3>
</div>
<form [formGroup]=editProductForm>
    <div class="form-group">
        <input type="text" class="form-control" [ngClass]="{'is-valid': editProductForm.controls['productName'].dirty }"
            id="productName" formControlName="productName" placeholder="Product name:">
        <div class="valid-feedback" *ngIf="editProductForm.controls['productName'].value">
            Product name looks good!
        </div>
    </div>

    <div class="form-group">
        <input type="number" class="form-control" min="0" (change)="preventNegativePrice()"
            [ngClass]="{'is-valid': editProductForm.controls['productPrice'].dirty }" id="productPrice"
            formControlName="productPrice" placeholder="Product price ($):">
        <div class="valid-feedback" *ngIf="editProductForm.controls['productPrice'].value">
            Product price looks good!
        </div>
    </div>

    <div class="form-group">
        <select class="form-control" [ngClass]="{'is-valid': editProductForm.controls['productCategory'].dirty }"
            id="productCategory" formControlName="productCategory">
            <option selected disabled>Category</option>
            <option *ngFor="let category of productsService.productCategoryList" [ngValue]="category.name">
                {{category.name}}</option>
        </select>
        <span class="text-danger" *ngIf="editProductForm.controls['productCategory'].hasError('required')">
            Category required
        </span>
        <div class="valid-feedback" *ngIf="editProductForm.controls['productCategory'].value">
            Category looks good!
        </div>
    </div>

    <!-- File Input -->
    <div class="form-group">
        <span class="btn btn-default btn-file">
            {{productPictureLabel}} <input type="file" (change)="uploadFile($event)">
        </span>
    </div>

    <button type="button" [disabled]="!editProductForm.valid" class="btn btn-outline-primary btn-block"
        (click)="saveProduct()">Save</button>

</form>